<div class="container edit-border">
  <div class="custom-border">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br/>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <br/>
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <br/>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br/>
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="field">
              <%= f.label :location %>
              <%= f.text_field :location, class: "form-control", placeholder: "", autuofocus: true%>
      </div>
      <br/>
      <div class="field">
        <%= f.label :about %>: <span class="asterisk">*</span><br />
        <%= f.text_field :about, class: "form-control form-control-lg" %>
      </div>
      <div class="field">
          <%=f.label "Update Business" %>

              <%= f.select(:business, options_for_select([['Sole Trader','Sole Trader'],['Business Owner','Bussiness Owner'],['Looking for Employment','Looking for Employment']]), {}, {class:'form-control'})%>
      </div>
      <!-- new part finishes here -->
      <!-- seventh row -->
      <div class="field">
          <%=f.label "Update services provided"%>
          <a class="btn btn-primary card-header my-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expaneded="false" aria-controls="collapseExample">Skills Select</a>

          <div id="collapseExample" class="collapse">
            <div class="card card-body">
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Air conditioning', false %>
                    <%= 'Air conditioning' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Antenna Services', false %>
                    <%= 'Antenna Services' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Appliance Installation', false %>
                    <%= 'Appliance Installation' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Appliance Repairs', false %>
                    <%= 'Appliance Repairs' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Flooring', false %>
                    <%= 'Flooring' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Bathroom and Shower', false %>
                    <%= 'Bathroom and Shower' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Tilling and Stone', false %>
                    <%= 'Tilling and Stone' %>
                  </div>
            </div>
          </div>
      </div>

      <br/>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-lg btn-primary"%>
      </div>
    <% end %>

    <!-- <h3>Cancel my account</h3> -->

    <!-- <p>Unhappy? <%# button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

    <%= link_to "Back", :back %>
  </div>
</div>
