<h2 class="sub-title">Welcome to Sign up page</h2>

<div class="container"> <!-- start of container-->
<%= render "devise/shared/error_messages", resource: resource %>
  <div class="row custom-border"> <!-- start of row-->

  <div class="col-lg-6 col-md-6 col-xs-12">
       <h3 class="sub-title"align="center">Terms and Conditions</h3>
       <p> By signing up you will agree to our terms and conditions</p>
       <ul>
        <li>Our system is secure</li>
        <li>We don't share your email to third parties</li>
        <li>We use cookies for the better service providing</li>
        <li>For full detailed terms and conditions refer to link below</li>
       </ul>
       <a href="#"> T&C's here</a>
    </div>
    <div class="col-md-6 col-xs-12">
    <!-- start  of form-->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :name %>: <span class="asterisk">*</span><br />
        <%= f.text_field :name, class: "form-control form-control-lg" %>
      </div>

      <div class="field">
      <%= f.label :phone %>: <span class="asterisk">*</span><br />
      <%= f.text_field :phone,class: "form-control form-control-lg" %>
    </div>

      <div class="field">
        <%= f.label :email %>: <span class="asterisk">*</span<br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>: <span class="asterisk">*</span<br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>:<span class="asterisk">*</span<br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control form-control-lg" %>
      </div>

      <div class="field">
              <%= f.label :location %>
              <%= f.text_field :location, class: "form-control", placeholder: "Melbourne", autuofocus: true%>
      </div>

      <div class="field">
        <%= f.label :about %>: <span class="asterisk">*</span><br />
        <%= f.text_field :about, class: "form-control form-control-lg" %>
      </div>

      <div class="field">
          <%=f.label "Select Business" %>

              <%= f.select(:business, options_for_select([['Sole Trader','Sole Trader'],['Business Owner','Business Owner'],['Looking for Employment','Looking for Employment']]))%>
      </div>
      <!-- new part finishes here -->
      <!-- seventh row -->
      <div class="field">
          <%= f.label "Services Provided" %>
          <a class="btn btn-primary card-header" data-toggle="collapse" href="#collapseExample" role="button" aria-expaneded="false" aria-controls="collapseExample">Skills Select</a>
          
          <div id="collapseExample" class="collapse">
            <div class="card card-body">
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Air conditioning', false %>
                    <%= 'Air conditioning' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Antenna Services', false %>
                    <%= 'Antenna Services' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Appliance Installation', false %>
                    <%= 'Appliance Installation' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Appliance Repairs', false %>
                    <%= 'Appliance Repairs' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Flooring', false %>
                    <%= 'Flooring' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Bathroom and Shower', false %>
                    <%= 'Bathroom and Shower' %>
                  </div>
                  <div class="inline-block">
                    <%= f.check_box :business_type, {multiple: true}, 'Tilling and Stone', false %>
                    <%= 'Tilling and Stone' %>
                  </div>
            </div>
          </div>
      </div>


      <div class="actions">
      <br>
        <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
    <!-- end  of form-->
    </div>

  </div> <!-- end of row-->
</div> <!-- end of container-->
<br>
