<h3 class="sub-title">Create Your Ad</h3>
<%= render 'shared/error_messages' %>
<div class="work-card">
<%= form_for @tasks do |t| %>
    <div class="form-group row">
        <div class="col-sm-2 col-form-label">
            <%= t.label :title, class:"text-center" %>
        </div>
        <div class="col-sm-6">
            <%= t.text_field :title, class: "form-control", placeholder: "Name of Task", autuofocus: true%>
            <!-- <small> choose a name for your project or task</small> -->
        </div>
    </div>
    <!-- second row -->
    <div class="form-group row">
        <div class="col-sm-2 col-form-label"> <%= t.label :description %> </div>
        <div class="col-sm-6">
            <%= t.text_area :description, class: "form-control", placeholder: "Explain your task in 400 characters or less.", rows: "12"%>
            <small> Tell us more about your task and what needs to be done!</small>
        </div>
    </div>

    <!-- <div class="form-group"><p class="task-info" >*Upload some photos</p> <%= link_to "upload photos", "#", class:"btn btn-success"%> </div> -->

    <!-- new part start here -->

    <!-- third row >
    <div class="form-group row">
        <div class="col-sm-2 col-form-label"> <%= t.label "Skills required" %> </div>
        <div class="col-sm-6">
            <%= t.select(:skills, options_for_select([['Air Conditioning Repairs','air condition'],
            ['Antenna Services','Antenna'],['Appliance Installation','appliance'],['Appliance Repairs','repairer'],
            ['Flooring','flooring'],['Bathroom and Shower','bathroom'],['Tiling and Stone','tiling']]))%>
        </div>
    </div>

    < new part finishes here-- >

    <!-- multiple checkbox starts here-->
        <div class="col-sm-2 col-form-label"> <%= t.label "Skills required" %> </div>
        
        <%= check_box_tag 'task[skills][]', 'tiling', checked('tiling'), id: 'tiling_skills' %>
        <%= label_tag 'tiling_skills', 'tiling' %> <br>
        
        <%= check_box_tag 'task[skills][]', 'flooring', checked('flooring'), id: 'floor_skills' %>
        <%= label_tag 'floor_skills', 'flooring' %> <br>

        <%= check_box_tag 'task[skills][]', 'cleaning', checked('cleaning'), id: 'cleaning_skills' %>
        <%= label_tag 'cleaning_skills', 'cleaning' %> <br>
    <!-- multiple checkbox finishes here -->

    <!-- submit button -->
    <div class="form-group row">
        <div class="col-sm-10">
            <%= t.submit class:"btn btn-primary btn-lg"%>
        </div>
     </div>
<%end%>

</div> <!-- end of Card-->
