
<%=render 'tasks'%>

<h3 class="sub-title">Workers which may suit your task</h3>
<ul class="list-group list-group-horizontal justify-content-center">
  <% @recs.each do |w| %>
  <div class="card mb-3" style="width: 540px;">
  <div class="card-header"> <!-- dummy div to style the card-->
  </div>
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= w.name %></h5>
          <p class="card-text"><%= w.about %></p>
          <p class="card-text"><small class="text-muted">Location: <%= w.location %> <br>Phone: <%= w.phone %> </small></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</ul>
