<%= render 'layouts/extras/nav'%>
<h2 class="sub-title">forgot your password?</h2>
<div class="container"> <!-- Start of container -->
<%= render "devise/shared/error_messages", resource: resource %>
  <div class="row"> <!-- start of row-->
    <div class="col-lg-6 col-md-6 col-xs-12 center">
      <div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %> 
       <div class="field">
          <%= f.label :email %>: <span class="asterisk">*</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control form-control-lg" %>
        </div> <br>
      
        <div class="actions">
          <%= f.submit "Reset password",class:"btn btn-lg btn-danger" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
      </div><!-- end of card-->
    </div> <!-- end of column-->
    
  </div> <!-- end of row-->
</div> <!-- end of container -->



