<%= render 'extras/nav'%>
<div class ="d-flex justify-content-center">
  <h1>Your Profile</h1>
</div>
<div class ="container d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <%= image_tag current_user.avatar(:original) unless current_user.avatar(:original).nil?%>
    <div class="card-body">
      <h5 class="card-title"><%= current_user.name %></h5>
      <p class="card-text"><%= current_user.about %></p>
      <%= link_to("Edit Profile", edit_user_registration_path, class:"btn btn-primary")%>
    </div>
  </div>
</div>
